#alpha{
    background-color: rgb(100, 150, 60, 1);/*0-1=alpha*/ 
}
#opacity{
    background-color: aqua;
    opacity: 1;
}
#box{
    background-color: blue;
    height:100px;
    width:100px;
   margin:10px auto;
    box-shadow: 2px 2px 5px black;
}