.one{
    background-color: aqua;
    transform: rotate(45deg);
}
.two:hover{
background-color: aquamarine;
transform:scale(2);
}
.three:hover{
    background-color: blue;
    transform: skew(30deg);
}
div{
    background-color: aqua;
    height: 100px;
    width:100px;
    margin:10px auto;
}